<div class="about-section section-padding--y">
    <div class="container">
        <div class="about-layout">
            <div class="about-heading">
                <div data-animate-parent>
                    <div class="hero-subtitle" data-animate>
                            <div class="hero-subtitle-icon">
                                {% partial 'icons/user' %}
                            </div>
                        <div class="hero-subtitle-text"> ABOUT US</div>
                    </div>
                </div>
               <div class="about-title" data-animate-parent>
                  <h1 class="about-title-text" data-animate>05</h1>
               </div>
               <div class="about-text" data-animate-parent>
                   <p class="about-text-home" data-animate>Years in advertising industry</p>
               </div>
            </div>
            <div class="about-content" data-animate-parent-stagger>
                <p data-animate-stagger>Our group of innovative experts is committed to assisting companies in thriving in the cutthroat industry of today. Using our knowledge of design and marketing tactics, we want to develop memorable campaigns that raise brand awareness and provide tangible outcomes.</p>
                <p data-animate-stagger>Every meaningful connection begins with great design — and we’re here to help you make that first impression count.</p>
            </div>
        </div>
    </div>
</div>