<div role="list" class="projects-layout w-dyn-items">
              <div role="list" class="w-dyn-item">
                <div class="projects-item">
                    <a href="#" class="projects-item-thumb-wrap">
                        <img src="https://cdn.prod.website-files.com/680cea8b34808eee313320a7/681b78f0f6d59e4438a412dd_thumb-1-p-2000.webp" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">Boldstream</h2>
                    </a>
                </div>
               </div>
               <div role="list" class="w-dyn-item">
                <div class="projects-item">
                    <a href="#" class="projects-item-thumb-wrap">
                        <img src="https://cdn.prod.website-files.com/680cea8b34808eee313320a7/681b795b44873a031ed2dac6_thumb-2.webp" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">Innovate X</h2>
                    </a>
                </div>
              </div>
            </div>
            <div role="list" class="projects-layout-2 w-dyn-items">
              <div role="list" class="w-dyn-item">
                <div class="projects-item">
                    <a href="#" class="projects-item-thumb-wrap">
                        <img src="https://cdn.prod.website-files.com/680cea8b34808eee313320a7/681b79a0407d3fe7a29f3830_thumb-3.webp" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">PixelForge</h2>
                    </a>
                </div>
               </div>
               <div role="list" class="w-dyn-item">
                <div class="projects-item">
                    <a href="#" class="projects-item-thumb-wrap">
                        <img src="https://cdn.prod.website-files.com/680cea8b34808eee313320a7/681b79d02b3124bab9301148_thumb-4.webp" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">SyncCraft</h2>
                    </a>
                </div>
               </div>
               <div role="list" class="w-dyn-item">
                <div class="projects-item">
                    <a href="#" class="projects-item-thumb-wrap">
                        <img src="https://cdn.prod.website-files.com/680cea8b34808eee313320a7/681b79e9f7304acabfa21a7f_thumb-5.webp" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">Cipherworks</h2>
                    </a>
                </div>
              </div>
            </div>
            <div role="list" class="projects-layout-3 w-dyn-items">
              <div role="list" class="w-dyn-item">
                <div class="projects-item">
                    <a href="#" class="projects-item-thumb-wrap">
                        <img src="https://cdn.prod.website-files.com/680cea8b34808eee313320a7/681b7a13083238cb91856c53_thumb-6.webp" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">SpectraShift</h2>
                    </a>
                </div>
               </div>
               <div role="list" class="w-dyn-item">
                <div class="projects-item">
                    <a href="#" class="projects-item-thumb-wrap">
                        <img src="https://cdn.prod.website-files.com/680cea8b34808eee313320a7/681b7a3e1c06c1bbc11cbcba_thumb-7-p-2000.webp" class="projects-item-thumb" alt="Purse" />
                    </a>
                    <a href="#" class="projects-item-thumb-wrap">
                        <h2 class="project-item-title">NextWave</h2>
                    </a>
                </div>
              </div>
</div>