<div class="client-section">
    <div class="container">
        <div class="section-client">
            <div class="section-heading ">
                <div class="hero-subtitle">
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/quotes' %}
                    </div>
                    <div class="hero-subtitle-text">CLIENTS TESTIMONIAL</div>
                </div>
                <div class="brand-title">
                    <h2>What Our Client Say's</h2>
                </div>
            </div>
        </div>
        <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
               <div class="card-client">
                    <div class="feedback-top-container">
                        <div class="feedback-header">
                            <h1>Our Client </h1>
                            <h2>Feedback </h2>
                        </div>    
                        <div class="client-image">
                            <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/680e1077f50e3445593f7876_author-1.webp" alt="ClientImage"/>
                        </div>
                    </div>
                    <div class="feedback-bottom-container">
                        <div class="client-name">
                            <h1>Sarah Malkova</h1>
                        </div>
                        <div class="client-position">
                            <p>Lead Application Developer</p>
                        </div>
                        <div class="client-testimonial">
                        <p>I’m impressed by the quality of work and the level of professionalism from Ben.studio. They managed to capture the essence of our brand in a beautifully designed website that has already made.</p>
                        </div>
                    </div>
               </div>
            </div>
            <div class="swiper-slide">
                 <div class="card-client">
                    <div class="feedback-top-container">
                        <div class="feedback-header">
                            <h1>Our Client</h1>
                            <h2>Feedback </h2>
                        </div>    
                        <div class="client-image">
                            <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/681a016070a1bc88f0741987_author-2.webp" alt="ClientImage"/>
                        </div>
                    </div>
                    <div class="feedback-bottom-container">
                        <div class="client-name">
                            <h1>Bennie Tremblay</h1>
                        </div>
                        <div class="client-position">
                            <p>Lead Creative Officer</p>
                        </div>
                        <div class="client-testimonial">
                            <p>I’m impressed by the quality of work and the level of professionalism from Ben.studio. They managed to capture the essence of our brand in a beautifully designed website that has already made.</p>
                        </div>
                    </div>
               </div>
            </div>
            <div class="swiper-slide">
                 <div class="card-client">
                    <div class="feedback-top-container">
                        <div class="feedback-header">
                            <h1>Our Client </h1>
                            <h2>Feedback </h2>
                        </div>    
                        <div class="client-image">
                            <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/681a0161e5b65f03801391ed_author-3.webp" alt="ClientImage"/>
                        </div>
                    </div>
                    <div class="feedback-bottom-container">
                        <div class="client-name">
                            <h1>Mack Stiedemann</h1>
                        </div>
                        <div class="client-position">
                            <p>Product Branding Technician</p>
                        </div>
                        <div class="client-testimonial">
                            <p>I’m impressed by the quality of work and the level of professionalism from Ben.studio. They managed to capture the essence of our brand in a beautifully designed website that has already made.</p>
                        </div>
                    </div>
               </div>
            </div>
            <div class="swiper-slide">
                 <div class="card-client">
                    <div class="feedback-top-container">
                        <div class="feedback-header">
                            <h1>Our Client </h1>
                            <h2>Feedback </h2>
                        </div>    
                        <div class="client-image">
                            <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/681a01618e892a814c2134b2_author-4.webp" alt="ClientImage"/>
                        </div>
                    </div>
                    <div class="feedback-bottom-container">
                        <div class="client-name">
                            <h1>Sherman Prohaska</h1>
                        </div>
                        <div class="client-position">
                            <p>Principal Web Coordinator</p>
                        </div>
                        <div class="client-testimonial">
                            <p>I’m impressed by the quality of work and the level of professionalism from Ben.studio. They managed to capture the essence of our brand in a beautifully designed website that has already made.</p>
                        </div>
                    </div>
               </div>
            </div>
            ...
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>
    </div>
</div>