<div class="bg-light text-center cta-section section-padding--y">
    <div class="container">
    <div class="contact-section-wrapper">
        <div class="section-heading">
            <div class="hero-subtitle">
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/mail-icon' %}
                    </div>
                    <div class="hero-subtitle-text">CONTACT</div>
            </div>
                <div class="brand-title contact">
                    <h2>Have any project idea in your mind?</h2>
                </div>
        </div>
        <div class="red-button contact">
            <a class="nav-link contact-link text-center" href="#">
                Contact Now
                <span class="arrow-wrapper">
                    <span class="arrow arrow-1">{% partial 'icons/arrow-right'%}</span>
                    <span class="arrow arrow-2">{% partial 'icons/arrow-right'%}</span>
                </span>
            </a> 
        </div>
     </div>
    </div>
</div>