<div class="project-section section-padding--y">
    <div class="container">
        <div class="section-project">
            <div class="section-heading ">
                <div class="hero-subtitle">
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/fire' %}
                    </div>
                    <div class="hero-subtitle-text">FEATURED PROJECTS</div>
                </div>
                <div class="brand-title">
                    <h2>Our Recent Work</h2>
                </div>
            </div>
            {% partial 'site/all-featured-projects'%}
        </div>
    </div>
</div>