<footer class="main-footer section-padding--t">
    <div class="container">
        <div class="d-flex flex-row align-items-center justify-content-between footer-layout">
            <div class="footer-left">
                <div class="footer-logo">
                <a class="footer-image-logo" href="/starter_boot/">
                <img
                    src="{{ 'globals/DexinaLogo.png' | media }}"
                    alt="Logo"
                    width="200"
                    class="d-inline-block align-text-top"
                    />
                </a>    
                </div>
                <div class="footer-text">
                    <p>We are a team of creative professionals dedicated to helping businesses thrive in today's competitive market.</p>
                </div>
            </div>
            <div class="d-flex flex-column  footer-middle">
                <a href="#" class="footer-middle-link">
                    <div class="link-wrapper">
                        <div class="footer-link link1">Service</div>
                        <div class="footer-link link2">Service</div>
                    </div>
                </a>
                <a href="#" class="footer-middle-link">
                    <div class="link-wrapper">
                        <div class="footer-link link1">About Us</div>
                        <div class="footer-link link2">About US</div>
                    </div>
                </a>
                <a href="#" class="footer-middle-link">
                    <div class="link-wrapper">
                        <div class="footer-link link1">Projects</div>
                        <div class="footer-link link2">Projects</div>
                    </div>
                </a>
                <a href="#" class="footer-middle-link">
                    <div class="link-wrapper">
                        <div class="footer-link link1">Pricing</div>
                        <div class="footer-link link2">Pricing</div>
                    </div>
                </a>
                <a href="#" class="footer-middle-link">
                    <div class="link-wrapper">
                        <div class="footer-link link1">Articles</div>
                        <div class="footer-link link2">Articles</div>
                    </div>
                </a>
                <a href="#" class="footer-middle-link">
                    <div class="link-wrapper">
                        <div class="footer-link link1">Contact</div>
                        <div class="footer-link link2">Contact</div>
                    </div>
                </a>
            </div>
            <div class="d-flex flex-column footer-right">
                <a href="#"  class="d-flex flex-row align-items-center justify-content-between footer-right-link">
                    <div class="footer-social-media">
                        <p>Facebook</p>
                    </div>
                    <div class="footer-arrow">
                        {% partial 'icons/right-up-arrow'%}
                    </div>
                </a>
                <a href="#" class="d-flex flex-row align-items-center justify-content-between footer-right-link">
                    <div class="footer-social-media">
                        <p>Instagram</p>
                    </div>
                    <div class="footer-arrow">
                        {% partial 'icons/right-up-arrow'%}
                    </div>
                </a>
                <a href="#" class="d-flex flex-row align-items-center justify-content-between footer-right-link">
                    <div class="footer-social-media">
                        <p>Twitter</p>
                    </div>
                    <div class="footer-arrow">
                        {% partial 'icons/right-up-arrow'%}
                    </div>
                </a>
                <a href="#" class="d-flex flex-row align-items-center justify-content-between footer-right-link">
                    <div class="footer-social-media">
                        <p>Linkedin</p>
                    </div>
                    <div class="footer-arrow">
                        {% partial 'icons/right-up-arrow'%}
                    </div>
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-text">
                <p>Designed by <span>Mavenflow</span> | <span>Licenses</span></p>
            </div>
             <div class="footer-bottom-text">
                <p>Copyright ©Dexina, All rights reserved</p>
            </div>
             <div class="footer-bottom-text">
                <p>Powered by <span>Webflow</span></p>
            </div>
        </div>
    </div>
</footer>
