<div class="hero-section mt-3">
    <div class="container">
        <div class="hero-layout d-flex flex-column">
            <div class="hero-top-content">
                <div  data-animate-parent>
                    <a href="#" class="nav-link" data-animate>
                        {% partial 'icons/right-up-arrow' %}
                    </a>
                </div>
                <div class="hero-top-text-wrap" data-animate-parent>
                    <p class="hero-top-text" data-animate>We are available for new project. Have any project idea in your mind, Write a line about it.</p>
                </div>
            </div>
            <div class="hero-bottom-content mt-3">
                <div class="hero-left">
                    <div  data-animate-parent>
                     <div class="hero-subtitle " data-animate>
                        <div class="hero-subtitle-icon">
                            {% partial 'icons/earth' %}
                        </div>
                         <div class="hero-subtitle-text"> DESIGN & DEVELOPMENT AGENCY</div>
                      </div>
                    </div>
                    <div class="hero-title" data-animate-parent>
                        <h1 class="hero-title-text" data-animate>
                            Driving growth
                            through innovate
                            digital solution
                        </h1>
                    </div>
                </div>
                <div class="hero-right">
                    <div class="hero-text-wrap" data-animate-parent>
                        <p class="hero-text" data-animate>Sincerely, it's the final time that they've been given a furnished common. To avoid class, tidy them up. He has a wide-ranging influence.</p>
                    </div>
                    <div data-animate-parent>
                        <div class="hero-buttons" data-animate>
                        <div class="red-button">
                            <a class="nav-link contact-link" href="#">
                                Book a call
                                <span class="arrow-wrapper">
                                    <span class="arrow arrow-1">{% partial 'icons/arrow-right'%}</span>
                                    <span class="arrow arrow-2">{% partial 'icons/arrow-right'%}</span>
                                </span>
                            </a>
                        </div>
                        <div class="white-button">
                            <a class="nav-link contact-link" href="#">
                                Our Services
                                <span class="arrow-wrapper">
                                    <span class="arrow arrow-1">{% partial 'icons/arrow-right'%}</span>
                                    <span class="arrow arrow-2">{% partial 'icons/arrow-right'%}</span>
                                </span>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-animate-parent>
        <div class="hero-banner" data-animate></div>
    </div>
</div>