<div class="pricing-section section-padding--y">
    <div class="container">
        <div data-animate-parent>
            <div class="section-heading" data-animate>
                <div class="hero-subtitle">
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/dollar-sign' %}
                    </div>
                    <div class="hero-subtitle-text">PRICING PLAN</div>
                </div>
                <div class="brand-title">
                    <h2>Choose The Plan</h2>
                </div>
            </div>
        </div>
            {% partial 'site/pricing-contents'%}
            
    </div>
</div>