<div class="questions-section">
    <div class="container">
        <div class="section-heading">
            <div class="hero-subtitle">
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/question' %}
                    </div>
                    <div class="hero-subtitle-text">FAQ</div>
            </div>
                <div class="brand-title questions">
                    <h2>Frequently Asked Questions</h2>
                </div>
        </div>
        <div class="question-wrapper">
            <div class="question-item">
                <div class="question-item-heading">
                <div class="question-item-heading-left">
                    <div class="question-order-number">
                        <p>/01</p>
                    </div>
                    <div class="question-item-header">
                        <h2>How do I contact you for inquiries or collaborations?</h2>
                    </div>
                </div>
                    <div class="custom-item-icon">
                        {% partial 'icons/closed-eye' %}
                    </div>
                </div>
                <div class="question-item-content">
                    <div class="question-item-content-left">
                        <div class="question-content">
                            <p>Best the average blind and that accordingly pointing, out the to bold, good my believed the rattling experiments friends couldn't scolded unable to many line may their times, propitiously is themselves, was discipline the be the seen escape.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-item">
                <div class="question-item-heading">
                <div class="question-item-heading-left">
                    <div class="question-order-number">
                        <p>/02</p>
                    </div>
                    <div class="question-item-header">
                        <h2>What services does your digital agency offer?</h2>
                    </div>
                </div>
                    <div class="custom-item-icon">
                        {% partial 'icons/closed-eye' %}
                    </div>
                </div>
                <div class="question-item-content">
                    <div class="question-item-content-left">
                        <div class="question-content">
                            <p>Best the average blind and that accordingly pointing, out the to bold, good my believed the rattling experiments friends couldn't scolded unable to many line may their times, propitiously is themselves, was discipline the be the seen escape.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-item">
                <div class="question-item-heading">
                <div class="question-item-heading-left">
                    <div class="question-order-number">
                        <p>/03</p>
                    </div>
                    <div class="question-item-header">
                        <h2>How long does it take to build a website?</h2>
                    </div>
                </div>
                    <div class="custom-item-icon">
                        {% partial 'icons/closed-eye' %}
                    </div>
                </div>
                <div class="question-item-content">
                    <div class="question-item-content-left">
                        <div class="question-content">
                            <p>Best the average blind and that accordingly pointing, out the to bold, good my believed the rattling experiments friends couldn't scolded unable to many line may their times, propitiously is themselves, was discipline the be the seen escape.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-item">
                <div class="question-item-heading">
                <div class="question-item-heading-left">
                    <div class="question-order-number">
                        <p>/04</p>
                    </div>
                    <div class="question-item-header">
                        <h2>What is included in your digital marketing services?</h2>
                    </div>
                </div>
                    <div class="custom-item-icon">
                        {% partial 'icons/closed-eye' %}
                    </div>
                </div>
                <div class="question-item-content">
                    <div class="question-item-content-left">
                        <div class="question-content">
                            <p>Best the average blind and that accordingly pointing, out the to bold, good my believed the rattling experiments friends couldn't scolded unable to many line may their times, propitiously is themselves, was discipline the be the seen escape.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-item">
                <div class="question-item-heading">
                <div class="question-item-heading-left">
                    <div class="question-order-number">
                        <p>/05</p>
                    </div>
                    <div class="question-item-header">
                        <h2>Can you create content for our social media accounts?</h2>
                    </div>
                </div>
                    <div class="custom-item-icon">
                        {% partial 'icons/closed-eye' %}
                    </div>
                </div>
                <div class="question-item-content">
                    <div class="question-item-content-left">
                        <div class="question-content">
                            <p>Best the average blind and that accordingly pointing, out the to bold, good my believed the rattling experiments friends couldn't scolded unable to many line may their times, propitiously is themselves, was discipline the be the seen escape.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>