
<div class="service-section section-padding--y">
    <div class="container">
      <div class="section-service">
        <div class="section-heading">
            <div data-animate-parent>
                <div class="hero-subtitle" data-animate>
                    <div class="hero-subtitle-icon">
                        {% partial 'icons/heart' %}
                    </div>
                    <div class="hero-subtitle-text">OUR SERVICE</div>
                </div>  
            </div>
                <div class="brand-title" data-animate-parent>
                    <h2 data-animate>Services We Provide</h2>
                </div>
          </div>
       {% partial 'site/all-services'%}
    </div>
</div>