<div class="brands-section">
    <div class="container">
      <div class="section-brand">
         <div class="brand-heading">
                <div data-animate-parent>
                    <div class="hero-subtitle" data-animate>
                        <div class="hero-subtitle-icon">
                            {% partial 'icons/target' %}
                        </div>
                        <div class="hero-subtitle-text"> TRUSTED BRANDS</div>
                    </div>
                </div>
                <div class="brand-title" data-animate-parent>
                    <h2 data-animate>Trusted Partners</h2>
                </div>
          </div>
          <div class="trusted-partners" data-animate-parent-stagger>
              <div class="trusted-partner-item" >
                <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/680de93ece9dda385e0f08c8_brand-1.svg" alt="PartnerLogo" data-animate-stagger/>
              </div>
              <div class="trusted-partner-item" >
                <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/680de9b6f2f6d2dda4306ecb_brand-2.svg" alt="PartnerLogo" data-animate-stagger/>
              </div>
              <div class="trusted-partner-item" >
                <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/680de9b6769837151055dc2a_brand-3.svg" alt="PartnerLogo" data-animate-stagger>
              </div>
              <div class="trusted-partner-item" >
                <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/680de9b67278b6c273d04317_brand-4.svg" alt="PartnerLogo" data-animate-stagger>
              </div>
              <div class="trusted-partner-item" >
                <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/680de9b74508a80787147a4d_brand-5.svg" alt="PartnerLogo" data-animate-stagger>
              </div>
              <div class="trusted-partner-item" >
                <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/680de9b711ae712d28300e0b_brand-6.svg" alt="PartnerLogo" data-animate-stagger>
              </div>
              <div class="trusted-partner-item" >
                <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/680de9b772d2c51bf80bae97_brand-7.svg" alt="PartnerLogo" data-animate-stagger>
              </div>
              <div class="trusted-partner-item" >
                <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/680de9b73446ace65a4b0130_brand-8.svg" alt="PartnerLogo" data-animate-stagger>
              </div>
              <div class="trusted-partner-item">
                <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/680de9b81cee1884a286c540_brand-9.svg" alt="PartnerLogo" data-animate-stagger>
              </div>
               <div class="trusted-partner-item" >
                <img src="https://cdn.prod.website-files.com/680ce7acfc716f3fc095e18e/680de9b8dfbff60dbb5aac57_brand-10.svg" alt="PartnerLogo" data-animate-stagger>
              </div>
          </div>
      </div>
    </div>
</div>